html{
    color:black;
    background-color:tan;
}

#tab-table {background-color: black;
			overflow: hidden;}

.tab {border: 1px solid black; background-color: #95b87f;
	float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px
}
