<!DOCTYPE html>

<html>
    <head>
    	<link rel="stylesheet" href="/stylesheet.css">
        <title>Reverse EBay</title>
    </head>

    <body>
		<div style="background-color:grey">
    	<h1 align='center'> <font size = "25"> Reverse Ebay </font> </h1>
    	<div class="topnav" align="center">
  			<a class="active" href="CarnegieMellonShop.html">Carnegie Mellon</a>
  			<a href="ElectronicsShop.html">Electronics</a>
  			<a href="ClothingShop.html">Clothing</a>
  			<a href="FoodShop.html">Food</a>
  			<a href="OutdoorsShop.html">Outdoors</a>
		</div>
	</div>
		{{{ body }}}
    </body>

</html>