<!DOCTYPE html>

<html>
    <head>
    	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>Sell It To Me</title>
    </head>

    <body>
	
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav pull-left">
		<li role="presentation"><a href="/Shop/CMU">CMU</a></li>
		<li role="presentation"><a href="/Shop/Electronics">Electronics</a></li>
		<li role="presentation"><a href="/Shop/Clothing">Clothing</a></li>
		<li role="presentation"><a href="/Shop/Food">Food</a></li>
		<li role="presentation"><a href="/Shop/Outdoors">Outdoors</a></li>
	</ul>
	<ul class="nav navbar-nav pull-right ">
		<li role="presentation"><a href="/Buy">Buy</a></li>
		{{#if username}}
			<li role="presentation"><a>Welcome {{username}}</a></li>
			<li role="presentation"><a href="/logout">Logout</a></li>
		{{else}}
			<li role="presentation"><a href="/login">Login</a></li>
			<li role="presentation"><a href="/login">Signup</a></li>
		{{/if}}
    </ul>
</div>

  
</nav>
  

		{{{ body }}}
    </body>

</html>