<!DOCTYPE html>

<html>
    <head>
    	<link rel="stylesheet" href="/stylesheet.css">
        <title>Reverse EBay</title>
    </head>

    <body>
	
			<nav class="navbar navbar-inverse">
					<div class="container-fluid">
					  <div class="navbar-header">
						<a class="navbar-brand" href="#">Goods and/or Services For Money</a>
					  </div>
					  <ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="/Shop/CMU">Carnegie Mellon University</a></li>
						<li><a href="/Shop/Electronics">Electronics</a></li>
						<li><a href="/Shop/Clothing">Clothing</a></li>
						<li><a href="/Shop/Food">Food</a></li>
						<li><a href="/Shop/Outdoors">Outdoors</a></li>
					  </ul>
					</div>
				  </nav>
		{{{ body }}}
    </body>

</html>