<form action="/login" method="post">
<input type="text"; id="username"; name="username"; placeholder="Username" style="text-align: center;"/><br>
<input type="text"; id="password"; name="password"; placeholder="Password" style="text-align: center;"/><br>
<input type="submit" value="Login">
<form>
<a href=""><div align="center";style="text-align: center; font-size: 12px"> Sign-Up </div></a>               