<table align="center">
                <tr>
                        <th>
                            <input type="text"; id="username"; name="username"; placeholder="Username" style="text-align: center;"/>
                        </th>
                </tr>
                <tr>
                        <th>
                            <input type="text"; id="password"; name="password"; placeholder="Password" style="text-align: center;"/>
                        </th>
                </tr><tr>
                <th>
                        <button style="text-align: center"; onclick='login()';> Login </button>
                </th>
            </tr>
        </table>


            <a href=""><div align="center";style="text-align: center; font-size: 12px"> Sign-Up </div></a>               
     </body>
<script>
function login(){
	var username = document.getElementById("username").value;
	var password = document.getElementById("password").value;
	POST(username,password,/login)
}
</script>