
<h>{{department}}</h>
<table id="saleItemsCMU" class="table-striped table">
	<thead>
	<tr>
		<th scope="col"> Item</th>
		<th scope="col"> Description</th>
	</tr>
	 </thead>  <tbody>

	{{#each items}}
	<tr onclick="button()">	
		<td>{{this.name}} </td>
		<td>{{this.description}}</td>
	</tr>
	{{/each}}   
  </tbody>
        
</table> 

<script>
function button(){
console.log("yay");
}
</script>           